.home {
   
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px 0 15px;
   justify-content: space-between;
  
}

.posts {
   /* flex: 1;
    overflow: auto;
    margin-right:250px;*/
    flex-grow: 1; /* Kitölti a maradék helyet a konténeren belül */
    overflow-y: auto; /* Görgethető tartalom, ha szükséges */
}

.categ {
    min-width: 250px!important; /* Állítsd be a kategória szélességét a tartalomhoz képest */
    position: sticky;
    top: 65px;
    height: calc(100vh - 65px); /* Állítsd be a magasságot a megjelenítendő terület függvényében */
    overflow-y: auto; /* Görgethető tartalom, ha szükséges */
  
   /* margin-top: 68px;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /*background-color: #f1f1f1;*/
}

@media (max-width: 768px) {
    .home {
        flex-direction: column; 
    }

    .posts {
        margin-right: 0;
        display: flex;
        
    }

    .categ {
        position: static;
        width: 100%;
        margin:0;
        height: 100%;
    }
}
