.home {
   
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px 0 15px;
   justify-content: space-between;
  
}

.posts {
   flex-grow: 1; /* Kitölti a maradék helyet a konténeren belül */
    overflow-y: auto; /* Görgethető tartalom, ha szükséges */
    font-size: 1em;
}

.categ {
    min-width: 200px!important; /* Állítsd be a kategória szélességét a tartalomhoz képest */
    position: sticky;
    top: 65px;
    height: calc(100vh - 65px); /* Állítsd be a magasságot a megjelenítendő terület függvényében */
    overflow-y: auto; /* Görgethető tartalom, ha szükséges */
 
}

@media (max-width: 768px) {
    .home {
        flex-direction: column; 
    }

    .posts {
       
        display: flex;
        
    }

    .categ {
        position: static;
        width: 100%;
        margin:0;
        height: 100%;
    }
}

.cardImage{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}
