
.tiptap {
  max-width: 700px;
  margin: 0 auto;
}

/*TitTap Editor Design */
.ProseMirror {
  padding: 10px;
  background: white;
  border-radius: 0 0 5px 5px;
  min-height: 200px;
}
.ProseMirror:focus {
  border: none;
  outline: 1px solid blue;
}
 
/* ............................ */

.menuBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
}
.menuBar button {
  margin: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
button.is_active {
  color:blue;
}