*{
    box-sizing: border-box;
    margin: 0;
}
/*navbar style:*/
.active {
    border-bottom:0.5px dotted white;
  
}
a{
    text-decoration: none!important;
}
.css-1t6c9ts a{
  display: flex;
  justify-content: space-around;
  align-items: center;
    height: 40px;
}

.createBlog{
    max-width: 800px;
    margin:0 auto;
}
.app{
 
    background-color: rgba(146, 141, 171,0.2);
    min-height: 100vh;
    margin-top: 65px;
    padding-top: 1rem;
    
}
.createBlog p:not(.editor p){
    color:red;
}
.editor{
    min-height: 300px;
}
.cardBody{
    overflow:hidden!important;
}
.singlePost img{
    width: 100%;
    object-fit:cover;
    border-radius:5px;
  }
  .singlePost p{
    text-align: justify;
  }